@import "bootstrap";
$gold:#e0ad10;
$navfont: 'kaushan_scriptregular', sans-serif;
$hovercolor: #cca385;

.booyah-box {
    background-color: rgba(244, 181, 117, 0.11);
    border: 5px solid rgba(246, 178, 99, 0.44);
    padding: 75px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body{
  background: image_url('food.jpg');
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar{
  background: image_url('gradient.jpg');
  box-shadow: 0px 1px 3px #ededed;
}

.navbar-inverse .navbar-brand{
  color: $gold;
  font-family: $navfont;
  font-size: 40px;

  &:hover {color: $hovercolor;}
}
.navbar-inverse .navbar-nav .nav-link{
  color: $gold;
  font-family: $navfont;
  font-size: 15px;

  &:hover {color: $hovercolor;}
}

.pagination {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 5px;

  .disabled{
    display: none;
  }
  .current{
    padding: 5px 15px;
    border: 3px solid white;
  }
  a{
    color: black;
    padding: 5px 15px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 3px;
  }
  a:hover:not(.active) {background-color: #dddd;}
}

.invalid-feedback {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

#map {
  height: 300px;
}